@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body {
    @apply bg-[#0D0D0D] text-[#FFFFFF] font-["Hack"] h-[100vh];
  }
  i {
    @apply ml-1;
  }
}

/* width */
::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #88888800;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
}